<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gitClient_ID</key>
	<string>9f97f370efb1f931a165</string>
	<key>gitClient_Secrete</key>
	<string>cc90c06abbdd942e52fb85702dd96289d257cc84</string>
</dict>
</plist>
